/* Mixins */

@mixin heading {
	font-size: 52px;
	font-weight: bold;
	letter-spacing: -3px;
	font-style: italic;

	@media (min-width: 540px) {
		font-size: 58px;
	}
}

@mixin heading-sm {
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -2px;
	font-style: italic;

	@media (min-width: 540px) {
		font-size: 48px;
	}
}

@mixin subheading($font-size) {
	font-size: $font-size;
	font-weight: 500;
	letter-spacing: -1px;
	color: $grayDark;
}

@mixin btn {
	display: block;
	text-align: center;
	margin: 0;
	padding: 15px 25px;
	background-color: $grayDark;
	font-size: 18px;
	font-family: inherit;
	color: $yellow;
	text-decoration: none;
	border-radius: 15px;
	transition: 0.3s ease-in-out;

	@media (min-width: 768px) {
		display: inline-block;
	}

	&:hover {
		background-color: #000;
		box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.4);
		transition: 0.3s ease-in-out;
	}
}

@mixin sm-container {
	max-width: 992px;
	margin: 0 auto;
}

@mixin md-container {
	max-width: 1140px;
	margin: 0 auto;
}