/* Global Styles */

section {
	padding: 100px 0;
}

body {
	background-color: $yellow;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

img {
	width: 100%;
	height: auto;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

p {
	font-size: 18px;
	margin-bottom: 0;
	color: $yellowDark;
	font-weight: 400;
	letter-spacing: -0.4px;
}