/* Global Styles */
main {
	position: relative;
	padding-top: 90px;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: $yellow;
}

section {
	padding: 200px 0;
}

body {
	background-color: $yellow;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	color: $grayDark;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

p {
	font-size: 15px;
	margin-bottom: 0;
	color: $yellowDark;
	font-weight: normal;
	letter-spacing: -0.4px;

	@media (min-width: 576px) {
		font-size: 18px;
	}
}

a {
	font-weight: normal;
}

h1,
h2,
h3 {
	margin-bottom: 20px;
}

h2 {
	letter-spacing: -2px;
}

h3 {
	letter-spacing: -1px;
}

h3 {
	letter-spacing: -1px;
}

// Modal
.modal-dialog {

	@media (min-width: 768px) {
		max-width: 80%;
	}

	@media (min-width: 1200px) {
		max-width: 930px;
	}

	.modal-content {
		border: 2px solid $grayDark;
		background-color: $yellow;
		border-radius: 15px;
		padding: 50px 25px 25px 25px;

		@media (min-width: 992px) {
			padding: 50px;
		}

		.modal-header {
			padding: 0;
			text-align: center;
			display: block;
			border: none;

			h3 {
				@include subheading(24px);
				margin-bottom: 15px;
			}

			p {

				@media (min-width: 768px) {
					width: 415px;
					margin: 0 auto 30px auto;
				}
			}

			.btn-close {
				position: absolute;
				right: 40px;
				top: 40px;
				font-size: 24px;
			}
		}

		.modal-body {

			p {
				margin-bottom: 30px;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					color: $grayDark;
				}
			}

			ul {

				li {
					margin-bottom: 20px;
					padding-left: 25px;
					position: relative;

					&::before {
						content: '';
						width: 18px;
						height: 20px;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						background-image: url('../images/bootstrap-icons/caret-right-fill.svg');
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
					}

					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}
}

// Swiper next/prev and dots
.swiper-button-prev::after,
.swiper-button-next::after {
	color: $grayDark;
}

.swiper-pagination-bullet-active {
	background-color: $grayDark;
}