/* Home Page */

@function repeat-string($string, $times) {
	$result: '';

	@for $i from 1 through $times {
		$result: #{$result}#{$string};
	}

	@return $result;
}

// Intro joke ==========
#dm-joke {
	height: calc(100vh - 90px);
	padding: 120px 0;
	position: relative;

	&::before {
		content: "#{repeat-string('fold line - ', 100)}";
		position: absolute;
		bottom: -20px;
		left: 0;
		width: 100%;
		height: 20px;
		background-color: $grayDark;
		color: $yellow;
		display: flex;
		align-items: center;
		font-style: italic;
		font-weight: 600;
		font-size: 12px;
		overflow: hidden;
		white-space: nowrap;
	}

	.container-sm {
		height: 100%;
	}

	.dm-joke-content {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

		&__punchline {
			text-align: center;

			h2 {
				@include heading-sm;
			}
		}
	}

	.scroll-down {
		display: block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 50px;

		p {
			color: $grayDark;
			text-align: center;
			font-size: 14px;

			i {
				display: block;
				font-size: 36px;
			}
		}
	}
}

// Hero section ==========
#dm-hero {
	padding: 500px 0 250px 0;

	@media (min-width: 992px) {
		padding: 500px 0;
		position: relative;
	}

	.dm-hero-content {

		@media (min-width: 992px) {
			display: flex;
			justify-content: space-between;
			position: relative;
		}

		&__image {
			text-align: center;
			margin-bottom: 40px;
			position: relative;

			@media (min-width: 992px) {
				width: 45%;
				margin-bottom: 0;
				order: 1;
				display: flex;
				order: 1;
				align-items: center;
			}

			&__pic {
				display: inline-block;
				margin: 0 auto;
				height: 300px;
				width: 300px;
				position: relative;

				@media (min-width: 1200px) {
					height: 350px;
					width: 350px;
				}

				&__frame {
					border: 2px solid $grayDark;
					box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.4);
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					border-radius: 150px;
					overflow: hidden;
					background-image: url('../images/me-headshot.jpg');
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;

					@media (min-width: 1200px) {
						border-radius: 175px;
						left: 33px;
					}
				}

				&__message {
					border: 2px solid $grayDark;
					background-color: $yellow;
					position: absolute;
					width: max-content;
					height: 40px;
					bottom: -10px;
					left: 50%;
					transform: translateX(-50%);
					z-index: 1;
					padding: 12px;
					border-radius: 20px;
					display: flex;
					align-items: center;
					justify-content: center;
					box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.4);

					p {
						font-size: 13px;
					}

					@media (min-width: 992px) {
						position: absolute;
						width: 44px;
						height: 44px;
						bottom: 25px;
						left: 233px;
						transform: none;
						z-index: 1;
						padding: 8px 0;
						border-radius: 22px;
						background-color: $yellow;
						display: flex;
						align-items: center;
						justify-content: center;

						p {
							font-size: 16px;

							span {
								display: none;
							}
						}

						&:hover {
							width: 197px;
							cursor: default;

							p {

								span {
									display: inline-block;
									font-size: 12px;
								}
							}
						}
					}

					@media (min-width: 1200px) {
						left: 320px;
						bottom: 40px;
					}
				}
			}
		}

		&__details {
			text-align: center;
			position: relative;

			@media (min-width: 992px) {
				text-align: left;
				position: static;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			&>span {
				@include subheading(22px);
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: -485px;

				@media (min-width: 992px) {
					position: static;
					transform: none;
				}
			}

			h1 {
				@include heading;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: -450px;

				@media (min-width: 992px) {
					position: static;
					transform: none;
				}
			}

			p:first-of-type {
				@include subheading(22px);
				margin-bottom: 20px;
				position: relative;

				@media (min-width: 992px) {
					padding-left: 75px;

					&::before {
						content: '';
						height: 2px;
						width: 55px;
						position: absolute;
						left: 5px;
						top: 50%;
						transform: translateY(-50%);
						background-color: $grayDark;
					}
				}
			}

			p:last-of-type {
				margin-bottom: 40px;

				@media (min-width: 992px) {
					width: 80%;
				}
			}

			a {
				@include btn;
				margin-bottom: 50px;

				@media (min-width: 992px) {
					width: 230px;
					margin: 0;
				}
			}

			.bi-arrow-down-short {
				font-size: 36px;

				@media (min-width: 992px) {
					display: block;
					position: absolute;
					left: 50%;
					bottom: -200px;
					transform: translate(-50%);
				}
			}
		}
	}
}


// Follow Me section ==========
#dm-follow-me {
	text-align: center;
	padding: 500px 0;

	.dm-follow-me-content {

		h2 {
			@include heading-sm;
			margin-bottom: 25px;
		}

		ul {

			li {
				display: inline-block;

				a {
					display: inline-block;
					padding: 10px;
					margin: 0 5px;
					font-size: 18px;
					border: 2px solid $grayDark;
					background-color: $yellow;
					color: $grayDark;
					width: 50px;
					height: 50px;
					border-radius: 50%;

					&:hover {
						background-color: $grayDark;
						color: $yellow;
					}
				}
			}
		}
	}
}


// About Me section ==========
#dm-about-me {
	text-align: center;
	padding: 500px 0;

	.dm-about-me-content {

		&__heading {
			margin-bottom: 60px;

			h2 {
				@include heading-sm;
			}
		}

		&__body {

			@media (min-width: 992px) {
				display: flex;
			}

			.media-box {
				height: 350px;
				border: 2px solid #323330;
				border-radius: 30px;
				background-image: url('../images/group.gif');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.4);
				position: relative;
				margin-bottom: 60px;

				&::after {
					content: "Me with coworkers in Whistler BC, Canada";
					position: absolute;
					font-size: small;
					width: 100%;
					bottom: -26px;
					left: 50%;
					transform: translateX(-50%);
					font-weight: 400;
					font-style: italic;
					//opacity: 0.5;
				}

				@media (min-width: 768px) {
					height: 475px;
				}

				@media (min-width: 992px) {
					width: 100%;
					height: 100%;
				}
			}

			&__details {
				text-align: center;

				@media (min-width: 992px) {
					width: 50%;
					text-align: left;
					order: 1;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding-left: 30px;

					.media-box {
						display: none;
					}
				}

				ul {
					margin-bottom: 50px;
					display: flex;
					justify-content: center;
					gap: 40px;
					margin-bottom: 25px;

					li {
						margin-bottom: 30px;
						text-align: center;

						i {
							display: inline-block;
							font-size: 18px;
							padding: 10px;
							border: 2px solid $grayDark;
							color: $grayDark;
							width: 50px;
							height: 50px;
							border-radius: 50%;
							margin-bottom: 10px;
						}

						p:first-of-type {
							@include subheading(18px);
						}

						p:last-of-type {
							font-size: 12px;
							color: $yellowDark;
						}

						// &[data-emergence="visible"] {
						// 	animation: fadeIn;
						// 	animation-duration: 0.3s;
						// 	animation-fill-mode: both;
						// 	animation-iteration-count: 1;

						// 	&:nth-child(1) {
						// 		animation-delay: 0.3s;
						// 	}

						// 	&:nth-child(2) {
						// 		animation-delay: 0.6s;
						// 	}

						// 	&:nth-child(3) {
						// 		animation-delay: 0.9s;
						// 	}
						// }
					}
				}

				h3 {
					@include subheading(22px);
					font-style: normal;
				}

				&>p {
					margin-bottom: 80px;
					position: relative;

					@media (min-width: 992px) {
						margin-bottom: 80px;
					}

					button {
						display: inline-block;
						background: none;
						border: none;
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						bottom: -30px;
						color: $grayDark;
						text-decoration: underline;

						@media (min-width: 992px) {
							left: -11px;
							bottom: -42px;
							transform: none;
						}
					}
				}

				&__ctas {

					@media (min-width: 992px) {
						display: flex;
					}

					.cta-1,
					.cta-2 {

						@media (min-width: 992px) {
							width: 50%;
						}

						i {
							padding-left: 10px;
						}
					}

					.cta-1 {
						@include btn;
						margin: 0 0 20px 0;

						@media (min-width: 992px) {
							margin: 0 10px 0 0;
						}
					}

					.cta-2 {
						@include btn-secondary;
					}
				}
			}

			&__media {
				//opacity: 0;

				@media (min-width: 992px) {
					margin: 0;
					width: 50%;
					text-align: left;
					padding-right: 30px;
				}

				// &[data-emergence="visible"] {
				// 	animation: fadeInLeft;
				// 	animation-duration: 0.3s;
				// 	animation-delay: 0s;
				// 	animation-fill-mode: both;
				// 	animation-iteration-count: 1;
				// }

				.media-box {
					display: none;

					@media (min-width: 992px) {
						display: block;
					}
				}
			}
		}
	}

	.modal-body {

		p:last-child {
			font-size: 30px;
		}
	}
}


// Qualifications section ==========
#dm-qualifications {
	text-align: center;
	padding: 500px 0;

	.dm-qualifications-content {

		&__heading {
			margin-bottom: 60px;

			h2 {
				@include heading-sm;
			}
		}

		&__body {

			&__toggler {
				margin-bottom: 80px;
				//opacity: 0;

				// &[data-emergence="visible"] {
				// 	animation: fadeInDown;
				// 	animation-duration: 0.5s;
				// 	animation-fill-mode: both;
				// 	animation-iteration-count: 1;
				// }

				ul {
					display: flex;
					justify-content: center;
					border-bottom: none;

					li {

						.toggler {
							background: none;
							border: 2px solid $grayDark;
							outline: none;
							width: 150px;
							padding: 15px 6px;
							transition: all 0.3s ease-in-out;

							@media (min-width: 576px) {
								width: 175px;
							}

							p {
								color: $grayDark;

								i {
									margin-right: 5px;
								}
							}

							&:hover {
								background: rgb(50, 51, 48, 0.08);
								transition: all 0.3s ease-in-out;
							}

							&.active {
								background: $grayDark;
								color: $yellow;

								p {
									color: $yellow;
								}
							}
						}

						#experienceTab {
							border-top-left-radius: 30px;
							border-bottom-left-radius: 30px;
							border-right-width: 1px;
						}

						#learningTab {
							border-top-right-radius: 30px;
							border-bottom-right-radius: 30px;
							border-left-width: 1px;
						}
					}
				}
			}

			&__content {
				//opacity: 0;

				// &[data-emergence="visible"] {
				// 	animation: fadeIn;
				// 	animation-duration: 0.5s;
				// 	animation-fill-mode: both;
				// 	animation-iteration-count: 1;
				// }

				.timeline {
					max-width: 430px;
					margin: 0 auto;

					&__row {
						display: flex;

						&:last-child {

							.timeline__row__block {

								&:first-child {
									border-color: transparent;
								}
							}
						}

						&__block {
							width: 50%;
							text-align: left;
							position: relative;
							padding-bottom: 30px;

							&:first-child {
								text-align: right;
								padding-right: 40px;
								border-right: 2px solid $grayDark;

								&::before {
									content: '';
									height: 24px;
									width: 24px;
									border-radius: 12px;
									background-color: $grayDark;
									display: inline-block;
									position: absolute;
									right: -13px;
									top: 0px;
								}

								@media (min-width: 576px) {
									padding-right: 50px;
								}
							}

							&:last-child {
								padding-left: 10%;

								@media (min-width: 576px) {
									padding-left: 12%;
								}
							}

							p {
								color: $grayDark;

								&:last-child {
									color: $yellowDark;
								}

								i {
									display: inline-block;
									margin-right: 5px;
								}
							}

							.title {
								@include subheading(16px);

								@media (min-width: 576px) {
									@include subheading(18px);
								}
							}

							.company {
								font-size: 16px;
								margin-bottom: 3px;
							}

							.dates {
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
}


// About Me section ==========
#dm-testimonials {
	text-align: center;
	padding: 500px 0;

	.dm-testimonials-content {

		&__heading {
			margin-bottom: 60px;

			h2 {
				@include heading-sm;
			}
		}

		&__body {
			//opacity: 0;

			// &[data-emergence="visible"] {
			// 	animation: fadeIn;
			// 	animation-duration: 0.5s;
			// 	animation-fill-mode: both;
			// 	animation-iteration-count: 1;
			// }

			.swiper {
				border-radius: 30px;

				@media (min-width: 768px) {
					padding: 0 0 60px 0;
					box-shadow: none;
				}

				.swiper-slide {

					@media (min-width: 768px) {
						padding: 0 80px;
					}

					.slide-inner {
						border: 2px solid $grayDark;
						border-radius: 30px;
						padding: 30px;
						box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.4);

						@media (min-width: 768px) {
							padding: 40px 60px;

						}

						&__details {
							display: flex;
							margin-bottom: 40px;

							&__image {
								margin-right: 20px;

								&__frame {
									height: 80px;
									width: 80px;
									background-color: $grayDark;
									border-radius: 40px;
									background-repeat: no-repeat;
									background-size: contain;
									border: 2px solid $grayDark;
									box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.4);

									&.shawn {
										background-image: url('../images/shawn.jpeg');
									}

									&.evan {
										background-image: url('../images/evan.jpeg');
									}

									&.corbin {
										background-image: url('../images/corbin.jpeg');
									}

									&.jason {
										background-image: url('../images/jason.jpeg');
									}

									&.michael {
										background-image: url('../images/michael.jpeg');
									}
								}
							}

							&__name {
								text-align: left;
								width: calc(100% - 100px);
								display: flex;
								flex-direction: column;
								justify-content: center;

								p:first-child {

									a {
										@include subheading(18px);
										display: inline-block;
										position: relative;

										&::after {
											content: '';
											height: 16px;
											width: 16px;
											position: absolute;
											right: -20px;
											background-image: url('../images/bootstrap-icons/box-arrow-in-up-right.svg');
											background-repeat: no-repeat;
											background-size: 100%;
										}
									}
								}

								p:last-child {
									font-size: 16px;
								}
							}
						}

						&__quote {
							text-align: left;

							p {

								span {
									position: relative;
									display: inline-block;

									i {
										font-size: 24px;
										color: $grayDark;
										display: inline-block;
										transform: rotate(180deg);
										position: absolute;
										top: -28px;
										right: -22px;
									}
								}
							}
						}
					}
				}

				.swiper-button-prev,
				.swiper-button-next {
					display: none;

					@media (min-width: 768px) {
						display: block;
					}
				}
			}
		}
	}
}


// Contact Me section ==========
#dm-contact-me {
	text-align: center;
	padding: 500px 0;

	.dm-contact-me-content {

		&__heading {
			margin-bottom: 60px;

			h2 {
				@include heading-sm;
			}
		}

		&__body {

			&__inner {

				@media (min-width: 576px) {
					width: 520px;
					margin: 0 auto;
				}

				.socials {

					a {
						@include btn-secondary;
						display: flex;
						justify-content: space-between;
						align-items: center;
						text-decoration: none;
						box-shadow: none;
						transition: all 0.3s ease-in-out;
						margin-bottom: 16px;
						//opacity: 0;

						@media (min-width: 768px) {
							display: flex;
						}

						.name {
							color: $grayDark;

							i {
								color: $grayDark;
								display: inline-block;
								margin-right: 10px;
							}
						}

						.description {
							font-size: 12px;
							color: $yellowDark;
							font-style: italic;
						}

						&:hover {

							.name {
								color: $yellow;

								i {
									color: $yellow;
								}
							}
						}

						// first <a> is primary
						&:first-child {
							@include btn;
							display: flex;
							justify-content: space-between;
							align-items: center;
							text-decoration: none;
							box-shadow: none;
							transition: all 0.3s ease-in-out;
							margin-bottom: 16px;
							//opacity: 0;

							.name {
								color: $yellow;

								i {
									color: $yellow;
								}
							}
						}

						// &[data-emergence="visible"] {
						// 	animation: fadeIn;
						// 	animation-duration: 0.3s;
						// 	animation-fill-mode: both;
						// 	animation-iteration-count: 1;

						// 	&:nth-child(1) {
						// 		animation-delay: 0.3s;
						// 	}

						// 	&:nth-child(2) {
						// 		animation-delay: 0.6s;
						// 	}

						// 	&:nth-child(3) {
						// 		animation-delay: 0.9s;
						// 	}

						// 	&:nth-child(4) {
						// 		animation-delay: 1.2s;
						// 	}

						// 	&:nth-child(5) {
						// 		animation-delay: 1.5s;
						// 	}
						// }
					}
				}
			}
		}
	}
}


// Footer ==========
footer {

	img {
		width: 40px;
		display: inline-block;
		margin-bottom: 6px;
	}
}