/* Home Page */

// Hero section ==========
#dm-hero {
	padding: 40px 0;

	@media (min-width: 768px) {
		height: calc(100vh - 90px)
	}

	@media (min-width: 992px) {
		padding: 120px 0;
		position: relative;
	}

	.dm-hero-content {

		@media (min-width: 992px) {
			display: flex;
		}

		@media (min-width: 1200px) {
			position: relative;
		}

		&__image {
			text-align: center;
			margin-bottom: 40px;
			position: relative;

			@media (min-width: 768px) {
				margin-bottom: 80px;
			}

			@media (min-width: 992px) {
				width: 50%;
				margin-bottom: 0;
				order: 1;
				display: flex;
				order: 1;
				align-items: center;
			}

			@media (min-width: 1200px) {
				position: static;
			}

			&__socials {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;

				@media (min-width: 992px) {
					left: 95%;
				}

				@media (min-width: 1200px) {
					left: -125px;
				}

				ul {

					li {

						a {
							display: inline-block;
							padding: 5px;
							font-size: 18px;
							color: $grayDark;

							&:hover {

								i {
									color: lighten($grayDark, 20%);
									transition: 0.3s ease-in-out;
								}
							}
						}
					}
				}
			}

			&__pic {
				display: inline-block;
				margin: 0 auto;
				height: 230px;
				width: 230px;
				position: relative;

				@media (min-width: 768px) {
					height: 300px;
					width: 300px;
				}

				@media (min-width: 1200px) {
					height: 350px;
					width: 350px;
					margin: 10px 0 0 auto;
				}

				&__frame {
					@include light-bg;
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					border-radius: 150px;
					overflow: hidden;

					@media (min-width: 1200px) {
						border-radius: 175px;
					}
				}

				&__message {
					@include light-bg;
					position: absolute;
					width: 156px;
					height: 40px;
					bottom: -10px;
					left: 50%;
					transform: translateX(-50%);
					z-index: 1;
					padding: 8px 0;
					border-radius: 20px;
					display: flex;
					align-items: center;
					justify-content: center;

					p {
						font-size: 13px;
					}

					@media (min-width: 992px) {
						position: absolute;
						width: 40px;
						height: 40px;
						bottom: 25px;
						left: 233px;
						transform: none;
						z-index: 1;
						padding: 8px 0;
						border-radius: 20px;
						background-color: $yellowLight;
						box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.4);
						display: flex;
						align-items: center;
						justify-content: center;

						p {
							font-size: 13px;

							span {
								display: none;
							}
						}

						&:hover {
							width: 153px;
							cursor: default;

							p {
								font-size: 13px;

								span {
									display: inline-block;
								}
							}
						}
					}

					@media (min-width: 1200px) {
						left: 267px;
					}
				}
			}
		}

		&__details {

			@media (min-width: 768px) {
				width: 74%;
			}

			@media (min-width: 992px) {
				width: 50%;
			}

			&>span {
				font-size: 48px;
			}

			h1 {
				@include heading;
			}

			p:first-of-type {
				@include subheading;
				font-size: 22px;
				position: relative;
				padding-left: 85px;
				margin-bottom: 20px;

				&::before {
					content: '';
					height: 2px;
					width: 65px;
					position: absolute;
					left: 5px;
					top: 50%;
					transform: translateY(-50%);
					background-color: $grayDark;
				}

				span {
					display: none;

					@media (min-width: 768px) {
						display: inline-block;
					}
				}
			}

			p:last-of-type {
				margin-bottom: 40px;
			}

			a {
				@include btn();
			}
		}
	}

	.scroll-down {
		display: none;
		position: absolute;
		bottom: 100px;

		p {
			color: $grayDark;
		}

		@media (min-width: 768px) {
			display: block;
		}
	}
}

// About Me section ==========
#dm-about-me {
	text-align: center;

	.dm-about-me-content {

		&__heading {
			margin-bottom: 60px;

			h2 {
				@include heading-sm;
			}

			p {
				font-size: 16px;
			}
		}

		&__body {

			@media (min-width: 992px) {
				display: flex;
			}

			&__image {
				margin-bottom: 60px;

				@media (min-width: 992px) {
					margin: 0;
					width: 50%;
					text-align: left;
				}

				img {
					border-radius: 30px;
				}
			}

			&__details {
				text-align: center;

				@media (min-width: 992px) {
					width: 50%;
					text-align: left;
				}

				&__blocks {
					margin-bottom: 45px;

					@media (min-width: 576px) {
						display: flex;
						justify-content: space-between;
					}

					&__block {
						@include light-bg;
						border-radius: 15px;
						padding: 15px 25px;
						margin-bottom: 15px;

						@media (min-width: 576px) {
							width: 33%;
							margin: 0 15px;
						}

						@media (min-width: 992px) {
							width: 31%;
							margin: 0;
						}

						i {
							font-size: 22px;
						}

						p:first-of-type {
							@include subheading;
						}

						p:last-of-type {
							font-size: 12px;
							color: $yellowDark;
						}
					}
				}

				&>p {
					margin-bottom: 30px;
				}

				a {
					@include btn;
				}
			}
		}
	}
}


// Skills & Hobbies section ==========
#dm-skills-and-hobbies {
	text-align: center;

	.dm-skills-and-hobbies-content {

		&__heading {
			margin-bottom: 60px;

			h2 {
				@include heading-sm;
			}

			p {
				font-size: 16px;
			}
		}

		&__body {

			@media (min-width: 1140px) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(2, 1fr);
				grid-column-gap: 50px;
				grid-row-gap: 50px;
			}

			.block {
				@include light-bg;
				padding: 40px;
				border-radius: 20px;
				max-width: 500px;
				margin: 0 auto 50px auto;

				@media (min-width: 1140px) {
					margin: 0;
				}

				h3 {
					@include subheading;
					margin-bottom: 30px;
				}

				&__content {
					display: flex;
					flex-direction: column;

					&__row {
						display: flex;
						margin-bottom: 20px;

						&:last-child {
							margin: 0;
						}

						&__item {
							display: flex;
							width: 50%;

							&__icon {
								margin-right: 12px;

								i {
									font-size: 24px;
								}
							}

							&__details {
								text-align: left;

								p {

									&:first-child {
										color: $grayDark;
									}

									&:last-child {
										font-size: 16px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// Footer ==========
footer {

	img {
		width: 40px;
		display: inline-block;
		margin-bottom: 6px;
	}
}