/* snippets page styles */

// handle differnt header for subpage
#snippets {

    body {

        main {

            header {

                .navbar {

                    .navbar-collapse {

                        .navbar-nav {
                            align-items: center;

                            .nav-item {
                                display: none;

                                &#back-to-dm {
                                    display: block;
                                }

                                &:last-child {
                                    display: block;

                                    .nav-link {
                                        @include btn;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Snippets section ==========
    #dm-snippets {
        text-align: center;
        padding: 100px 0;

        .dm-snippets-content {

            &__heading {
                margin-bottom: 60px;

                h2 {
                    @include heading-sm;
                }

                p {
                    font-size: 16px;
                }
            }

            &__body {
                text-align: left;

                &__snippet {
                    margin-bottom: 60px;

                    &__details {
                        display: flex;
                        margin-bottom: 12px;

                        h4 {
                            display: inline-block;
                        }

                        p {
                            display: inline-block;
                            padding: 3px 0 0 25px;
                            position: relative;

                            &::before {
                                content: '—';
                                position: absolute;
                                top: 2px;
                                left: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}