<header id="dm-header">
	<nav class="navbar navbar-expand-lg navbar-light py-4">
		<div class="container">
			<a class="navbar-brand" href="#dm-hero">
				<img src="assets/images/dm-logo.png" alt="Derick Moncado">
			</a>
			<!-- TODO: TURN TOGGLE BUTTON TO AN "X" WHEN CLICKED -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse flex-grow-0" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item px-2">
						<a class="nav-link" href="#dm-about-me">About</a>
					</li>
					<li class="nav-item px-2">
						<a class="nav-link" href="#dm-skills-and-hobbies">Skills</a>
					</li>
					<li class="nav-item px-2">
						<a class="nav-link" href="#dm-services">Services</a>
					</li>
					<li class="nav-item px-2">
						<a class="nav-link" href="#dm-qualifications">Qualifications</a>
					</li>
					<li class="nav-item px-2">
						<a class="nav-link" href="#dm-testimonials">Testimonials</a>
					</li>
					<li class="nav-item px-2">
						<a class="nav-link" href="#dm-contact-me">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>