/* Header Styles */

header {

    .navbar {

        .navbar-toggler {
            border: none;
        }

        .navbar-brand {
            padding: 5px;

            img {
                width: 50px;
            }
        }

        .navbar-collapse {

            .navbar-nav {

                .nav-item {

                    .nav-link {
                        color: $grayDark;
                        transition: opacity 0.3s ease;
                    }
                }

                &:hover {

                    li {

                        a {
                            opacity: 0.5;
                            transition: opacity 0.3s ease;

                            &:hover {
                                opacity: 1;
                                transition: opacity 0.3s ease;
                            }
                        }
                    }
                }
            }
        }
    }
}