<!DOCTYPE html>
<html lang="en" id="test">

  <head>
    <title>Derick Moncado | Front End Dev</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Derick Moncado">
    <meta name="description" content="Derick Moncado | Front End Developer and Designer from Southern California">
    <meta name="keywords" content="Derick Moncado, Front End Developer, Developer, Designer, Los Angeles">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <!-- CSS -->
    <!-- build:css -->
    <link rel="stylesheet" type="text/css" href="{{root}}assets/css/main.css">
    <!-- endbuild -->
  </head>

  <body>
    <main role="main">
      <!-- Header -->
      {{> header}}

      <!-- Body -->
      {{> body}}

      <!-- Footer -->
      {{> footer}}
    </main>

    <!-- JS -->
    <!-- build:js -->
    <script type="text/javascript" src="{{root}}assets/js/vendor/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="{{root}}assets/js/vendor/swiper-bundle.js"></script>
    <script type="text/javascript" src="{{root}}assets/js/vendor/emergence.js"></script>
    <script type="text/javascript" src="{{root}}assets/js/custom.js"></script>
    <!-- endbuild -->
  </body>

</html>